<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.numad22sp_team5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_footprint"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_footprint_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD22Sp_Team5">
        <activity
            android:name=".MilestoneHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".GrowthHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".BabyListActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName=".BabyListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>